<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.LeaveApplyMapper">
	<select id="get" resultType="entity.LeaveApply" parameterType="int">
		select * from leave_apply where id=#{id}
	</select>
	<insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="entity.LeaveApply">
	  insert into leave_apply (id,processInstanceId,userId,start_time,endt_time,leaveType,reason,applyTime,realityStartTime,realityEndTime)
	  values (#{id},#{processInstanceId},#{userId},#{startTime},#{endTime},#{leaveType},#{reason},#{applyTime},#{realityStartTime},#{realityEndTime})
	</insert>
	<update id="update" parameterType="entity.LeaveApply">
		update leave_apply set processInstanceId =#{processInstanceId},realityStartTime=#{realityStartTime},realityEndTime=#{realityEndTime},
		start_time=#{startTime},end_time=#{endTime},leaveType=#{leaveType},reason=#{reason}
		where id=#{id}
	</update>
</mapper>